// Custom styles.
body 
{ 
	background:url(/images/bg.png);
} 

// 序列图居中.
[id^="sequence-"] 
{
    text-align: center;
}

// 流程图居中.
[id^="flowchart-"] 
{
    text-align: center;
}

// 主页文章添加阴影效果.
.post 
{
	margin-top: -10px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}